<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <script type="text/javascript">
     setTimeout(() => window.location.href = "/dashboard", 2000)
    </script>
</head>
<body>
    <% if(success){ %>
    <p>redirecting to dashboard..</p>
    <p>status : <%= success %></p>
    <p>access token: <%= access_token %></p>
    <p>refresh token: <%= refresh_token %></p>
    <% } else{ %>
    <p>redirecting to dashboard..</p>
    <p>Error occured : <%= error %></p>
    <% } %>
</body>
</html>